@import "./variables.scss";
@import "./landingPage.scss";
@import "./signIn.scss";
@import "./signUp.scss";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $Ubuntu, sans-serif;
}

.logoText {
  font-family: $WireOne;
  font-weight: 700;
  user-select: none;
}

.button {
  height: 40px;
  width: 300px;
}

.textBox {
  width: 300px;
}

.checkboxContainer {
  width: 300px;
}

.test {
  border: 1px solid red;
}
