@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&family=Wire+One&display=swap");

// font families
$Ubuntu: "Ubuntu", sans-serif;
$WireOne: "Wire One", sans-serif;

// color:
$themeColor: #f77f00;
